<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target" 
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        Menu
    </button>
    <div class="collapse navbar-collapse" id="collapse_target">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <!--
                Boton que despliega un sub-menu con las opciones disponibles sobre productos
                -->
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Transacciones
                </a>
                <!--
                routerLink Redirecciona a la pagina de ver productos,
                donde se desplegaran la lista de todos los productos
                -->
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/transactions">
                    Ver transacciones
                </a>
                <a class="dropdown-item" routerLink="/newTransaction">
                    Ingresar Transaccion
                </a>            
                </div>
            </li>        
        </ul>
    </div>
    <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link">Iniciar sesion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Registro</a>
            </li>
        </ul>
    </div>   

</nav>