<div class="row">
    <h5>Total Mes: </h5>
</div>
<div class="row">
    <form>
        <div class="form-group form-inline">
            <label>Categoria:&nbsp;</label>
            <select class="form-control">
                <option>Comida</option>
                <option>Electronicos</option>            
                <option>Casa</option>            
            </select>
        </div>
        <div class="form-group form-inline">
            <label>Fecha:&nbsp; </label>
            <input type="date" class="form-control" />
        </div>
        <div class="form-group form-inline">
            <label>Cuenta:&nbsp;</label>
            <select class="form-control">
                <option>Santanter</option>
                <option>Cuenta Rut</option>            
            </select>
        </div>
        
    </form>
</div>